html,
body {
  background-color: #f6f6fa;
  font-family: "Roboto", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  overflow-x: auto;
  height: 100%;
  width: 100%;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
}

* {
  box-sizing: border-box;
  margin: 0;
}

#app {
  display: flex;
  height: 100%;
  width: 100%;
}

body ::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 10px;
  height: 100%;
}

.content {
  height: 100%;
  width: 100%;
  display: flex;
  padding: 0;
  z-index: 1;
}

.filters {
  width: 30%;
  min-width: 250px;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 20px;
  background-color: #1a1a24;
  color: whitesmoke;
  margin: 0;
  box-shadow: 0 3px 10px 0 rgb(255 255 255 / 20%), 0 3px 10px -2px rgb(255 255 255 / 50%),
    0 1px 3px 0 rgb(255 255 255 / 12%);
  border-right: 2px solid rgba(255, 255, 255, 0.2);
  z-index: 2;
}

#frmFilters > * {
  margin: 5px 0 0 0;
}

.header {
  display: flex;
  flex-direction: column;
}

.header .title {
  font-size: 28px;
}
.header .subtitle {
  font-size: 14px;
}

.form {
  display: flex;
  flex-direction: column;
  padding-top: 20px;
}

.form > label {
  margin-top: 10px !important;
}

.filters > i:hover {
  box-shadow: 0 0 0 5px rgba(255, 255, 255, 0.1), 0 0 0 10px rgba(255, 255, 255, 0.1);
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 50%;
}

#btnSearch {
  margin-top: 25px;
}