.component {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    color: black;
    padding: 0;
    font-family: "Roboto", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  }

  .input {
    width: 100%;
    height: 24px;
    outline: 0;
    padding: 3px;
    cursor: pointer;
  }

  .options {
    background-color: white;
    height: 250px;
    border: 1px solid lightgray;
    overflow-y: scroll;
    display: none;
  }

  .option {
    background-color: white;
    cursor: pointer;
    height: 25px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 2px;
  }
  .option:hover {
    background-color: lightgray;
  }

  .button {
    position: absolute;
    height: 16px;
    width: 16px;
    cursor: pointer;
    z-index: 999;
    font-size: 16px;
  }

  .up {
    top: 10px;
    right: 5px;
  }

  .down {
    top: 5px;
    right: 5px;
  }

  .button > i {
    height: 16px;
    width: 16px;
    font-size: 16px;
  }
